# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

AStarLee/.idea/

AStarLee/AStarLee/.idea/

AStarLee/AStarLee/bin/

AStarLee/AStarLee/obj/

AStarLee/AStarLee/.DS_Store

AStarLee/.DS_Store

.DS_Store

Pacman/Pacman/obj/
